.tile_entry-title {
    
    cursor: default;
    
    .tile__title {
        
        opacity: 1;
        display: block !important;
        
        strong {
            font-weight: 900;
        }
        
    }
    
}