// Semibold 700

@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-BoldItalic-Web.eot');
  src: url('fonts/MarrSans-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-BoldItalic-Web.woff2') format('woff2'),
       url('fonts/MarrSans-BoldItalic-Web.woff') format('woff');
  font-weight:  900;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-Bold-Web.eot');
  src: url('fonts/MarrSans-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-Bold-Web.woff2') format('woff2'),
       url('fonts/MarrSans-Bold-Web.woff') format('woff');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

// Semibold 600

@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-SemiboldItalic-Web.eot');
  src: url('fonts/MarrSans-SemiboldItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-SemiboldItalic-Web.woff2') format('woff2'),
       url('fonts/MarrSans-SemiboldItalic-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-Semibold-Web.eot');
  src: url('fonts/MarrSans-Semibold-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-Semibold-Web.woff2') format('woff2'),
       url('fonts/MarrSans-Semibold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


// Regular 400


@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-RegularItalic-Web.eot');
  src: url('fonts/MarrSans-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-RegularItalic-Web.woff2') format('woff2'),
       url('fonts/MarrSans-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}



@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-Regular-Web.eot');
  src: url('fonts/MarrSans-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-Regular-Web.woff2') format('woff2'),
       url('fonts/MarrSans-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

// Light  300

@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-LightItalic-Web.eot');
  src: url('fonts/MarrSans-LightItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-LightItalic-Web.woff2') format('woff2'),
       url('fonts/MarrSans-LightItalic-Web.woff') format('woff');
  font-weight:  200;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Marr Sans Web';
  src: url('fonts/MarrSans-Light-Web.eot');
  src: url('fonts/MarrSans-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/MarrSans-Light-Web.woff2') format('woff2'),
       url('fonts/MarrSans-Light-Web.woff') format('woff');
  font-weight:  200;
  font-style:   normal;
  font-stretch: normal;
}


